.bar {
 
  height: 220px;
  background-color: teal;
  
}

body {
  /* margin-left: 50px; */
  
}

p {
  font-size: 12px;
  line-height: 14px;
  color: black;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.gdp {
  /* margin-top: 50px; */
  font-weight: bold;
 
}

.bar {
  width: 30px;
}

.tick {
  background: pink;
  border: 1px solid black;
}


